@model IEnumerable<Cat>
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h2>Cats List</h2>
    <hr />
</div>

<div class="d-flex justify-content-end mb-2 ">
    <a title="Add New Cat" class="btn btn-outline-success" asp-controller="Cats" asp-action="Create"><i class="bi bi-plus-lg"></i></a>
</div>

<div class="row d-flex justify-content-center">

    <div class="col-12">
        <table class="table table-hover">
            <thead class="table-success">
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(x => x.Picture)</th>
                    <th>@Html.DisplayNameFor(x => x.CatName)</th>
                    <th>@Html.DisplayNameFor(x => x.Breed)</th>
                    <th>@Html.DisplayNameFor(x => x.Dob)</th>
                    <th>@Html.DisplayNameFor(x => x.Gender)</th>
                    <th>@Html.DisplayNameFor(x => x.Available)</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody class="table-active ">
                @foreach (var d in Model)
                {
                    <tr class="align-middle text-center">
                        <td><img src="~/Uploads/@d.Picture" width="40" class="rounded-circle" /></td>
                        <td>@d.CatName</td>
                        <td>@d.Breed.BreedName</td>
                        <td>@d.Dob.ToString("MMM dd,yyyy")</td>
                        <td>@d.Gender</td>
                        <td>@(d.Available? "Yes":"No")</td>
                        <td>
                            <a title="Edit" class="btn btn-outline-light" asp-controller="Cats" asp-action="Edit" asp-route-id="@d.CatId"><i class="bi bi-pencil"></i></a>
                            <a title="Delete" class="btn btn-outline-light" asp-controller="Cats" asp-action="Delete" asp-route-id="@d.CatId"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section styles{
    <link href="~/libs/bootstrap/icons/font/bootstrap-icons.css" rel="stylesheet" />
}
